<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="weather.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h4>Weather Program Web Application</h4>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="col-12 w-item">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>
                                <ion-icon name="location"></ion-icon> Weather Forecast Real Time {{weather.city}},
                                {{weather.country}}
                            </h4>
                            <input type="text" placeholder="Search..." v-model="search" v-on:keyup.enter="getWeather()">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <ion-icon name="time-outline"></ion-icon>
                                <span id="time"> {{weather.time}}</span>
                            </h4>
                            <div class="card-text row">
                                <div class="img col-5">
                                    <img v-bind:src="weather.icon" alt="">
                                </div>
                                <span class="temperature col-7">{{weather.temp}}°C</span>
                            </div>
                            <div class="feel-like">
                                <h5>Feels like {{weather.feelLike}}°C, {{weather.description}}</h5>
                            </div>
                            <div class="description row">
                                <div class="col-lg-6 col-md-12 item">
                                    <ion-icon name="paper-plane"></ion-icon><span> {{weather.NW}}m/s NW</span>
                                </div>
                                <div class="col-lg-6 col-md-12 item">
                                    <ion-icon name="git-compare"></ion-icon>
                                    <span>{{weather.hPa}} hPa</span>
                                </div>
                                <div class="col-lg-6 col-md-12 item">
                                    <h6>Humidity: </h6>&nbsp;<span class="percent">{{weather.humidity}}%</span>
                                </div>
                                <div class="col-lg-6 col-md-12 item">
                                    <h6>Visibility: </h6>&nbsp;<span class="km">{{ weather.visibility }}km</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 w-item">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>
                                <ion-icon name="bar-chart"></ion-icon> Temperature and humidity
                            </h4>
                        </div>
                        <div class="card-body">
                            <!-- <div class="tab-menu row">
                                <button v-on:click="changeTab()" class="menu-item col-5 active">Temperature
                                    Chart</button>
                                <button v-on:click="changeTab()" class="menu-item col-5">Humidity Chart</button>
                            </div> -->
                            <div class="chart">
                                <canvas id="myChart" width="400" height="400"></canvas>
                            </div>
                            <div class="chart2">
                                <canvas id="myChart2" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="col-12 w-item">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>
                                <ion-icon name="git-branch"></ion-icon>Form Set Data
                            </h4>
                            <p style="margin: 0;">Use this form to submit the data you want to configure</p>
                        </div>
                        <div class="card-body">
                            <form class="set-up" v-on:submit="submit">
                                <h4 class="card-title">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 input">
                                                <h6 class="lable">Humidity Lower</h6>
                                                <input v-model="setHumidityLow" type="number" name="Humidity Lower"
                                                    value="0" min="0" max="50" class="form-control">
                                            </div>
                                            <div class="col-lg-6 col-md-12 input">
                                                <h6 class="lable">Humidity High</h6>
                                                <input v-model="setHumidityHigh" type="number" name="Humidity High"
                                                    value="0" min="0" max="50" class="form-control">
                                            </div>
                                            <div class="col-lg-6 col-md-12 input">
                                                <h6 class="lable">Setup Date</h6>
                                                <input v-model="setDate" type="date" name="Setup Date" value=""
                                                    class="form-control">
                                            </div>
                                            <div class="col-lg-6 col-md-12 input">
                                                <h6 class="lable">Setup Time</h6>
                                                <input v-model="setTime" type="time" name="Setup Time" value=""
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </h4>
                                <div class="card-text data row">
                                    <div class="toggle-data col-6">
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="col-6 btn-data">
                                        <button class="set-data" type="submit">Set Data </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 w-item">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>
                                <ion-icon name="calendar"></ion-icon>7-day Forecast
                            </h4>
                        </div>
                        <div class="card-bd">
                            <div class="daily" v-for="(it,index) in daily">
                                <div class="weekend-weather collapsed" data-toggle="collapse"
                                    v-bind:href="'#collapse' + index" aria-expanded="false"
                                    v-bind:aria-controls="'collapse'+index">
                                    <div class="row">
                                        <div class="col-3">
                                            <h5 class="day">{{new Date(it.dt * 1000).toDateString()}}</h5>
                                        </div>
                                        <div class="col-4 img-temp">
                                            <img v-bind:src="'http://openweathermap.org/img/wn/' + it.weather[0].icon + '.png'"
                                                alt="">
                                            <h5 class="w-temperature">{{(it.temp.day- 273.15).toFixed(0) }}°C</h5>
                                        </div>
                                        <div class="col-4">
                                            <h5 class="status">{{it.weather[0].description}}</h5>
                                        </div>
                                        <div class="col-1">
                                            <ion-icon name="add-outline"></ion-icon>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-weather collapse" v-bind:id="'collapse'+index" role="tabpanel">
                                    <div class="dt-weather">
                                        <div class="row text-center">
                                            <h6 class="col-4"></h6>
                                            <h6 class="col-2">Morning</h6>
                                            <h6 class="col-2">Afternoon</h6>
                                            <h6 class="col-2">Evening</h6>
                                            <h6 class="col-2">Night</h6>
                                        </div>
                                        <div class="row text-center">
                                            <h6 class="col-4">TEMPERATURE</h6>
                                            <h6 class="col-2">{{(it.temp.morn- 273.15).toFixed(0) }}°C</h6>
                                            <h6 class="col-2">{{(it.temp.day- 273.15).toFixed(0) }}°C</h6>
                                            <h6 class="col-2">{{(it.temp.eve- 273.15).toFixed(0) }}°C</h6>
                                            <h6 class="col-2">{{(it.temp.night- 273.15).toFixed(0) }}°C</h6>
                                        </div>
                                        <div class="row text-center">
                                            <h6 class="col-4">FEELS LIKE</h6>
                                            <h6 class="col-2">{{(it.feels_like.morn- 273.15).toFixed(0) }}°C</h6>
                                            <h6 class="col-2">{{(it.feels_like.day- 273.15).toFixed(0) }}°C</h6>
                                            <h6 class="col-2">{{(it.feels_like.eve- 273.15).toFixed(0) }}°C</h6>
                                            <h6 class="col-2">{{(it.feels_like.night- 273.15).toFixed(0) }}°C</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="weather.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        new Vue({
            el: '.container',
            data: {
                search: 'Ha Noi',
                weather: {
                    city: '',
                    country: '',
                    temp: 15,
                    feelLike: '',
                    NW: 5.56,
                    hPa: 1023,
                    humidity: 75,
                    visibility: 10,
                    time: '',
                    icon: '',
                    description: '',
                    lat: 21.0245,
                    lon: 105.8412,
                },
                daily: [],
                label: [],
                dTemp: [],
                dHumidity: [],
                selectTab: 'temperature',
                setHumidityLow: null,
                setHumidityHigh: null,
                setDate: null,
                setTime: null,


            },
            methods: {
                getWeather: async function () {
                    let key = '2f33c299d2fdba428023d884c1ab3dfc'
                    let url = `https://api.openweathermap.org/data/2.5/weather?q=${this.search}&appid=${key}`
                    const response = await fetch(url)
                    const data = await response.json()
                    console.log(data)
                    this.lat = data.coord.lat
                    this.lon = data.coord.lon
                    let urlBase = `https://api.openweathermap.org/data/2.5/onecall?lat=${this.lat}&lon=${this.lon}&appid=${key}`
                    const responseBase = await fetch(urlBase)
                    const dataBase = await responseBase.json()
                    console.log(dataBase)
                    this.weather.city = data.name
                    this.weather.country = data.sys.country
                    this.weather.temp = (dataBase.current.temp - 273.15).toFixed(0)
                    this.weather.feelLike = (dataBase.current.feels_like - 273.15).toFixed(0)
                    this.weather.NW = dataBase.current.wind_speed
                    this.weather.hPa = data.main.sea_level
                    this.weather.humidity = dataBase.current.humidity
                    this.weather.visibility = dataBase.current.visibility / 1000
                    this.weather.icon = 'http://openweathermap.org/img/wn/' + data.weather[0].icon + '.png'
                    this.weather.description = data.weather[0].description
                    this.weather.time = new Date().toDateString()
                    this.daily.length = 0
                    dataBase.daily.forEach(item => {
                        this.daily.push(item)
                        console.log(item)
                    })
                    this.dTemp.length = 0
                    this.label.length = 0
                    this.dHumidity.length = 0
                    this.daily.forEach(it => {
                        this.label.push(new Date(it.dt * 1000).toDateString())
                    })
                    this.daily.forEach(it => {
                        this.dTemp.push((it.temp.day - 273.15).toFixed(0))
                    })
                    this.daily.forEach(it => {
                        this.dHumidity.push((it.humidity))
                    })
                    this.search = ''
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: this.label,
                            datasets: [{
                                label: 'The Temperature',
                                data: this.dTemp,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 4
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: false
                                }
                            }
                        }
                    });
                    const ctx2 = document.getElementById('myChart2').getContext('2d');
                    const myChart2 = new Chart(ctx2, {
                        type: 'line',
                        data: {
                            labels: this.label,
                            datasets: [{
                                label: 'The Humidity',
                                data: this.dHumidity,
                                backgroundColor: [
                                    '#F1FAF8'
                                ],
                                borderColor: [
                                    '#7CCDC1'
                                ],
                                borderWidth: 4
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: false
                                }
                            }
                        }
                    });
                },
                changeTab() {
                    const menu_item = document.querySelectorAll('.menu-item');
                    menu_item.forEach((item) => {
                        item.addEventListener('click', () => {
                            menu_item.forEach((item) => {
                                item.classList.remove('active')
                            })
                            item.classList.add('active')
                        })
                    })
                },
                submit(e) {
                    e.preventDefault()
                    const input = document.querySelectorAll('.form-group input')
                    console.log(input)
                    for (let i = 0; i < input.length; i++) {
                        if (input[i]._value != null) {
                            alert(`${this.setHumidityLow}\n${this.setHumidityHigh}\n${this.setTime}\n${this.setDate}\n`)
                            this.setHumidityHigh = this.setHumidityLow = this.setTime = this.setDate = null
                            return
                        }
                        else {
                            alert('Please set data!')
                            return false
                        }
                    }
                }
            },
            created: function () {
                this.getWeather()
            }
        })

    </script>
</body>

</html>